.login {
  inset: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(235, 235, 235, 0.5);
}

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  border: 2px solid rgb(26, 24, 24);
  border-radius: 10px;
  min-width: 220px;
  background-color: white;
}

.hello {
  align-self: center;
  margin-bottom: 10px;
}

.link {
  width: 100%;
  color: blue;
}

.link:hover {
  color: black;
}

.forgotDiv {
  position: relative;
  margin-bottom: 25px;
}

.forgotPassword {
  position: absolute;
  right: 0;
}
