@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

.error {
  position: absolute;
}

.error h1 {
  color: red;
}
