.navbar {
  position: sticky;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  background-color: #666;
  border-radius: 10px;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  transform: scale(1.1);
  background-color: #111;
  border-radius: 10px;
}
