.navbar {
  display: flex;
  place-items: center;
  position: sticky;
  flex-wrap: wrap;
}

nav {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  transform: scale(1.1);
  background-color: #111;
}
